*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html, body{
    font-family: "Arial", sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column; 
    min-width: 100vh; 
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF83D1; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
}

header nav{
    background-color: #FF83D1;
    padding: 10px;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 400px
}


header a{
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none; 
    
}

main {
    flex: 1; 
    padding: 20px; 
}

.productos h2 {
    font-size: 28px; 
    margin-bottom: 15px; 
}

.logo{
    width: 200px; 
    height: 220px;
    margin-top: 100px auto;
    display: center; 
 
}


.fotos {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap;
    margin-bottom: 30px; 
}


.pastel{
    width: 320px;
    height: auto; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}

footer {
    background-color: #1dddff; 
    padding: 15px; 
    font-weight: bold; 
    font-size: 18px; 
    
}

.form-container{
    background: #fff;
    padding: 25px;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form-container h2{
    margin-bottom: 15px;
    color: #333;
}

.form-group{
    margin-bottom: 15px;
    text-align: left; 
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea{
    resize: none;
}

button{
    background-color: #ff83d1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer; 
}
button:hover{
    background-color: #e272bd;
}

.form-group input:focus,
.form-group textarea:focus{
    background-color: #ffe4f2;
    border-color: #ff83d1;
}

